progress-bar {
	width: 90vw;
	
	.bar-wrapper{
		height: 18px;
		border: 1px solid #c4c4c4;
		border-radius: 9px;

		.bar{
			height: 18px;
			background-color: color($colors, secondary);
			border-radius: 9px;
		}
	}

	.sub-title{
		font-size: 16px;
		text-align: center;
	}
}
