profile-menu {

}

#profile-header{
	padding: 0px 0px 0px 9px;

	.subheader{
		font-size: 10px;
		font-style: italic;
	}
}

.profile-action-sheet{
	button.action-sheet-button{
		min-height: 4rem;
	}
}