<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>914713542637-ct45lmq5vjg8i29sf3fck362ad78dgvm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914713542637-ct45lmq5vjg8i29sf3fck362ad78dgvm</string>
	<key>API_KEY</key>
	<string>AIzaSyDtSWucMw-g7c4dkN4wLRyMXhgG20Z5Vdc</string>
	<key>GCM_SENDER_ID</key>
	<string>914713542637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tngworldwide.tisapp</string>
	<key>PROJECT_ID</key>
	<string>tis-redesign</string>
	<key>STORAGE_BUCKET</key>
	<string>tis-redesign.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914713542637:ios:0abdb6c49a37751c</string>
	<key>DATABASE_URL</key>
	<string>https://tis-redesign.firebaseio.com</string>
</dict>
</plist>